<section class="post">
  <div class="post-details">
    <h3>{{post.title}}</h3>
    <h5><a href="/profile/{{post.user_id}}">{{post.user.username}}</a></h5>
    <p>{{format_date post.date_created}}</p>
    <p>{{post.content}}</p>
  </div>
</section>

<!-- comment form -->
<section class="comment-section">
<form class="form comment-form">
  <div>
    <label for="comment">Add a comment</label>
    <input id="new-comment-content" type="text" required />
  </div>

  <div>
    <button id="submit-comment" type="submit">Submit</button>
  </div>
</form>
</section>


<!-- existing comments -->
<section class="existing-comments">
  <h5>Comments<h5>
  <div class="comments">
    {{#each comments as |comment|}}
    {{> comment-details }}
    {{/each}}
  </div>
</section>

<script src="/js/createComment.js"></script>
